/*fss extensions*/
.fl-col-mixed-175 .fl-col-fixed {width:175px;}
.fl-col-mixed-175 .fl-col-flex {margin-left:195px;}
.fl-col-mixed-175 .fl-col-flex-left {margin-right:195px;}

body {
    background-color: #D6EFFF;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.2em;
}

.heading {
    padding: 5px 25px;
    margin-right: -1px; /*covers border on right*/
    
    /*round top corners*/
    -webkit-border-radius: 25px 25px 0px 0px;
    -moz-border-radius: 25px 25px 0px 0px;
    border-radius: 25px 25px 0px 0px;

    /*background*/
    background: #cedce7; /* Old browsers */
    background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#596a72)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #cedce7 0%,#596a72 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #cedce7 0%,#596a72 100%); /* W3C */
}

input {
    padding: 1px 0px;
    text-align: left;
}

li {
    margin-top: 16px;
}

fieldset {
    border: solid 1px #9f9f9f;
    padding: 5px 0px;
    width: 0px;
}

fieldset > * {
    margin-left: 5px;
    margin-right: 5px;
}

.shaddow {
    -webkit-box-shadow: 5px 5px 5px #969696;
    -moz-box-shadow: 5px 5px 5px #969696;
    box-shadow: 5px 5px 5px #969696;
}

.rounded_corners {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.rounded_corners_top {
    -webkit-border-radius: 25px 25px 0px 0px;
    -moz-border-radius: 25px 25px 0px 0px;
    border-radius: 25px 25px 0px 0px;
}

.centre_block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.perforrated {
    border-right: dashed 1px black;
}

.qr_code {
    max-height: 25px;
    max-width: 25px;
}

.barcode {
    max-height: 75px;
    margin-top: 16px;
}

.contact_info {
    margin-top: -16px;
}

.date {
    min-width: 85px;
}

.search,
.button {
    padding: 1px 8px;
}

.trip_picker,
.current_location {
    margin-top: 20px;
    border: 1px solid #D1D1D1;
    
    /*background*/
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */
}

.trip_picker ol {
    margin: 10px 0px;
}

.trip_picker label {
    display: block;
    font-style: italic;
}

.current_location ol {
    margin: 10px;
}

.search_packages {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    height: 30px;
    
    /*background*/
    background: #f5f6f6; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C */
}
